.logo {
   font-family: $logo-font;
   color: $accent-color;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-decoration: none;
   &--black {
      color: $black-color;
   }
   &--white {
      color: $white-color;
   }
}