/* Оформление модалки */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   opacity: 1;
   @include MainTransition(opacity);
   &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
   }
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   min-width: 528px;
   min-height: 581px;
   padding: 40px;
   background-color: #fff;
   @include MainTransition(transform);
   .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.3);
   }
}

/* Оформление формы */

.modal__close-btn {
   border: none;
   cursor: pointer;
   position: absolute;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   @include MainTransition(fill);
   background: transparent;
}

.modal__icon {
   position: absolute;
   top: 5px;
   left: 5px;
   .modal__close-btn:hover &,
   .modal__close-btn:focus & {
      fill: $accent-color;
   }
}

.modal__title {
   font-family: $main-font;
   font-style: normal;
   font-weight: bold;
   text-align: center;
   font-size: 20px;
   line-height: 1.15;
   letter-spacing: 0.03em;
   margin-bottom: 12px;
}

.form {
   width: 448px;
}

.form__field {
   position: relative;
   display: flex;
   flex-direction: column;
   margin-bottom: 4px;
   color: $text-color;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
}

.form__input {
   width: 448px;
   height: 40px;
   padding: 12px 12px 12px 42px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;
   @include MainTransition(border-color outline);
   &:focus {
      border-color: $accent-color;
      outline: none;
   }
}

.form__textarea {
   width: 448px;
   height: 120px;
   padding: 12px 16px;
   font-family: $main-font;
   resize: none;
   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;
   @include MainTransition(border-color outline);
   &:focus {
      border-color: $accent-color;
      outline: none;
   }
   &::placeholder {
      font-family: $main-font;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
   }
}

.form__checked {
   display: flex;
   justify-content: center;
   margin-top: 25px;
   align-items: center;
   color: $text-color;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   & .form_policy {
      color: $accent-color;
   }
}

.form__checkbox:checked+span {
   background-color: $accent-color;
   background-image: url('../images/full-check.svg');
   background-size: contain;
   background-origin: border-box;
   border-color: $accent-color;
}

.form__check {
   display: inline-flex;
   width: 16px;
   height: 15px;
   margin-right: 8px;
   border-radius: 2px;
   border: 2px solid $title-color;
}

.form__btn {
   display: block;
   margin-top: 34px;
   margin-left: auto;
   margin-right: auto;
   @include MainTransition(background-color);
   &:hover,
   &:focus {
      background-color: $hover-accent-color;
   }
}

.modal-input-wrap {
   position: relative;
   &:nth-child(n + 2) {
   margin-top: 10px;
}
}

.form__icon {
   position: absolute;
   top: 50%;
   left: 20px;
   transform: translate(-50%);
   display: inline-block;
   width: 18px;
   height: 18px;
   @include MainTransition(fill);
   .form__input:focus+& {
      fill: $accent-color;
   }
}