$accent-color: #2196f3; /* акцент #2196f3 */
$hover-accent-color: #188CE8; /* цвет ховера по кнопке*/
$title-color: #212121; /* цвет текста заголовков #212121 */
$text-color: #757575; /* цвет основного текста #757575 */
$footer-bg-color: #2f303a; /* цвет фона Hero и Футера: #2F303A */
$add-bg-color: #f5f4fa; /* цвет дополнительного фона #F5F4FA */
$border-header-color: #ECECEC; /* цвет нижнего бордера хедера */
$border-projects-list: #EEEEEE; /* цвет нижнего бордера карточки проєктов */
$add-color: #AFB1B8; /* цвет нижнего бордера хедера */
$white-color: #ffffff; /* цвет белый */
$black-color: #000000; /* цвет черный */
$main-font: "Roboto", sans-serif; /* главный шрифт сайта */
$logo-font: Raleway, sans-serif; /* шрифт лого */